---
import Action from "D:/vdxdev.es/vdxweb/vdxweb/src/components/Action.astro"
import Typography from "D:/vdxdev.es/vdxweb/vdxweb/src/components/Typography.astro"
---

<section class="relative flex min-h-96 flex-row justify-between lg:min-h-min">
	<div class="flex max-w-lg flex-col items-center justify-center px-10">
		<Action
			id="login"
			class="w-full text-sm md:text-base"
			as="button"
			aria-label="Iniciar sesión de usuario"
		>
</section>

